[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = false
name = "torch"

[packages]
matplotlib = "==3.2.2"
tqdm = "==4.64.0"
torch = {version="*", index="torch"}
torchvision = {version="*", index="torch"}

[dev-packages]

[requires]
python_version = "3.6"
